$bgcolor:linear-gradient(to right ,rgb(0, 106, 255), rgb(0, 153, 255),rgb(0, 0, 0));
$textcolor: rgb(255, 255, 255);
$fontsize: 1rem;
$butoncolor:linear-gradien(rgb(40, 21, 21), yellow,black);
$arkaplancolor:linear-gradient(red, yellow,black);
$leaderboardbg:linear-gradient(red, yellow,black);
