.postContain{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    min-width: 100%;
   

}
.cardContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    flex: 1 0 600px; 
    margin: 0.5rem; 
    box-sizing: border-box; 
    width: 38rem;
    height: 20rem;
    overflow-wrap: break-word;
   
  
}
  
.btn{
    background: linear-gradient(to right,rgb(60, 4, 226),rgb(0, 179, 255));
   
}