@import '../Abstract/index.scss';


.flow {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background:$butoncolor;

    .flowContainer {
        min-width: 18rem;
        padding: 2rem;
        box-shadow: 2px solid;
        box-sizing: border-box;
        background: $bgcolor;
        color: white;


    }
}

.flowDetay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageDetay {
    background-color: #1F2937;
    position: relative;
    width: 50%;
    padding: 2em;

    img {
        width: 100%;
    }

}

.tarifContain {
    display: flex;
    width: 100%;

}

.yemekAdi {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2em;
    overflow: hidden;
    color: white;
    font-weight: 700;

    p {
        word-wrap: break-word;
        overflow-y: auto;
    }

}
.cardFlow{
    margin: 1rem;
    padding: 1rem;
    background: $bgcolor;
    color: white;
    
}