@import '../Abstract/index.scss';


.leaderboard{
    background-color: $bgcolor;
}
.leaderBoardContain{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgcolor;
    height: 100vh;
}